In [1]:
import pandas as pd
imdb_data = pd.read_csv("data.csv")
imdb_data=imdb_data["tconst\taverageRating\tnumVotes"].str.split('\\t', expand=True)
imdb_data.columns = [["title id", "average point", "total vote number"]]
imdb_data["rating link"] = "https://www.imdb.com/title/"+imdb_data["title id"]+"/ratings/?ref_=tt_ov_rt"
imdb_data.head(5)

,title id,average point,total vote number,rating link
0,tt0000001,5.7,1911,https://www.imdb.com/title/tt0000001/ratings/?...
1,tt0000002,5.8,257,https://www.imdb.com/title/tt0000002/ratings/?...
2,tt0000003,6.5,1716,https://www.imdb.com/title/tt0000003/ratings/?...
3,tt0000004,5.6,169,https://www.imdb.com/title/tt0000004/ratings/?...
4,tt0000005,6.2,2532,https://www.imdb.com/title/tt0000005/ratings/?...

In [2]:
def get_votes(link):
    import requests
    text = requests.get(link).text
    s = text[(text.index(("<table cellpadding=\"0\">"))):]
    s = s[0:s.index("</table>")]
    info_text = s.split("\"leftAligned\">")
    votes = {}
    for i,vote in enumerate(info_text[2:]):
        votes[10-i] = vote.split("<")[0]
    return votes

In [3]:
def get_first_i_movies_votes(i):
    global imdb_data
    imdb_data["rating votes"] = None
    for i in range(i):
        votes = get_votes(imdb_data.iloc[i]["rating link"])
        imdb_data.loc[i]["rating votes"] = votes

In [4]:
# neredeyse film başına 1 saniye sürüyor
num_of_movies = 10
get_first_i_movies_votes(10)
imdb_data.head(10)

,title id,average point,total vote number,rating link,rating votes
0,tt0000001,5.7,1911,https://www.imdb.com/title/tt0000001/ratings/?...,"{10: '206', 9: '40', 8: '128', 7: '258', 6: '5..."
1,tt0000002,5.8,257,https://www.imdb.com/title/tt0000002/ratings/?...,"{10: '42', 9: '11', 8: '16', 7: '45', 6: '48',..."
2,tt0000003,6.5,1716,https://www.imdb.com/title/tt0000003/ratings/?...,"{10: '173', 9: '65', 8: '199', 7: '455', 6: '3..."
3,tt0000004,5.6,169,https://www.imdb.com/title/tt0000004/ratings/?...,"{10: '28', 9: '9', 8: '8', 7: '22', 6: '29', 5..."
4,tt0000005,6.2,2532,https://www.imdb.com/title/tt0000005/ratings/?...,"{10: '219', 9: '87', 8: '235', 7: '507', 6: '6..."
5,tt0000006,5.1,173,https://www.imdb.com/title/tt0000006/ratings/?...,"{10: '17', 9: '1', 8: '13', 7: '19', 6: '35', ..."
6,tt0000007,5.4,790,https://www.imdb.com/title/tt0000007/ratings/?...,"{10: '42', 9: '13', 8: '41', 7: '89', 6: '190'..."
7,tt0000008,5.4,2054,https://www.imdb.com/title/tt0000008/ratings/?...,"{10: '238', 9: '52', 8: '144', 7: '227', 6: '3..."
8,tt0000009,5.2,199,https://www.imdb.com/title/tt0000009/ratings/?...,"{10: '18', 9: '6', 8: '10', 7: '44', 6: '40', ..."
9,tt0000010,6.9,6929,https://www.imdb.com/title/tt0000010/ratings/?...,"{10: '971', 9: '370', 8: '887', 7: '1,931', 6:..."